/* CSS styles used in the shiny app */

/* to avoid red text error messages in the whole app, take out for testing*/
/*.shiny-output-error { visibility: hidden; }
/*.shiny-output-error:before { visibility: hidden; }

/* Style sidebars/well panels */
.well {background-color:#ffffff; border: 0 solid #9B4393;
       padding: 5px; box-shadow: none; }

/* Navigation bar following PHS colour scheme */
.navbar-default {color: #ffffff; background-color: #3F3685; }

.navbar-default .navbar-brand, .navbar-default:hover .navbar-brand:hover, .navbar-brand {color: #3F3685; background-color: #ffffff}

.navbar-default .navbar-nav > li > a {color: #ffffff;}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: #312760;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;     background-color: #5343a3;}


/*Added by CP */
.btn-primary {
    color: #fff;
    background-color: #3393DD;
    border-color: #80BCEA;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0078D4;
    background-image: none;
    border-color: #0078D4;
}

.btn-primary.active.focus, btn-primary.active:focus, .btn-primary.active:hover {
    color: #fff;
    background-color: #0078D4;
    border-color: #0078D4;
}
